@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-blue, A200, A100, A400);
$warning: mat-palette($mat-deep-orange);
$theme:   mat-light-theme($primary, $accent, $warning);

@include angular-material-theme($theme);

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
